.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

@import './utils/fonts';
@import './utils/variables';

@import './_base.scss';

@import './utils/utils';

@import './components/button';
@import './components/links' ;
@import './components/header';
@import './components/hero-section';
@import './components/advantage-section';
@import './components/tradition-section';
@import './components/chefs-section';
@import './components/formats-section';

@import './components/caurousel';

@import './components/contact-section';
@import './components/footer';
@import './components/modal-window';
@import './components/form';


@import './utils/mixins';


