

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

@import './utils/fonts';
@import './utils/variables';

@import './_base.scss';

@import './utils/utils';

@import './components/button';
@import './components/links' ;
@import './components/caurousel';
@import './components/modal-window';
@import './components/form';

@import './layouts/advantage-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/footer';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/tradition-section';
@import './layouts/section';
@import './utils/texts';


@import './utils/mixins';


