.tradition {
    padding-top: 96px;
}

.tradition-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tradition-content {
    max-width: 710px;
}

.tradition-text .brand {

    color: var(--color-brand-normal);
    font-weight: 600;
}

.tradition-text .uppercase {
    text-transform: uppercase;
}

.tradition-title {
    margin-bottom: 42px;
}