.contact-container {
    display: flex;
    gap: 32px;
}

.contact {
    padding-bottom: 96px;
}

.contact-title {
    margin-bottom: 16px;

}

.contact-map {
    height: auto;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}