.footer {
    padding: 32px 0;
    position: relative;
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/footer-png.png');
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: ''
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-small.png');
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decor-bread-large.png');
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    gap: 20px;
    flex-basis: 50%;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}


.adress-social {
    fill: var(--color-primary-light);
}

.adress-social:hover {
    fill: var(--color-brand-dark);
}

.adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.adress-link:hover {
    color: var(--color-brand-normal);
    font-size: 16px;
    font-weight: 300;
}

.address-copyright {
    color: #A18268;
    font-size: 14px;
}