
 @font-face {
     font-display: swap;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
    }

    @font-face {
     font-display: swap;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
    }

@font-face {
     font-display: swap;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
     font-display: swap;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 900;
     src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
    
 }
 
 :root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-brand-light: #CFCFBC;
    --color-secondary-dark: #A18268
 }

/* base */
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

a {
    display: inline-block;
}

*,
 *::after,
 *::before {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section{
   padding: 48px 0; 
}

.container{
     width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
  /* HEader */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
}

  .header-container {
      display: flex;
      align-items: center;
      gap: 40px;
  }

  .header-navigation {
      display: flex;
      align-items: center;
      flex-grow: 1;
      gap: 40px;
  }

  .header-menu {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;

  }

/* Button */
.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal); 
    border: 2px solid #819B57;
    border-radius: 8px ;
    cursor: pointer;
    font-weight: 600;
        }

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

.link{
    color: #FAF4EA;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-brand-normal);
}
/* HERO SECTION */

.hero-section {
      padding: 272px 0;
      background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%,
       rgba(18, 18, 17, 0) 90.36%) ,
        url(../images/hero-bgrd.jpg);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover; 
  }

.hero-title {
    margin-bottom: 0;
    color: #FAF4EA;
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-normal);
    }

     /*Advantages section  */

.advantages-section {
    padding: 16px 0;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
     }

.advantages-item{
    font-size: 20px;
    font-weight: 300;
}

.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered{
    text-align: center;
}

.section-title .accent{
    color: var(--color-brand-dark);
}

/* tradition-section */

.tradition {
    padding-top: 96px;
}

.tradition-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tradition-content{
    max-width: 710px;
}
 .tradition-text .brand {

     color: var(--color-brand-normal);
     font-weight: 600;
 }
 
 .tradition-text .uppercase {
    text-transform: uppercase;
 }
 
 .tradition-title{
    margin-bottom: 42px;
 }


 /* Chefs section */


.chefs-title {
    margin: 0 auto 80px;
    position: relative;
}
.chefs-title::before,
.chefs-title::after {
    position: absolute;
    bottom: 24px;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content:'';
}

.chefs-title::before {
    left: 0;
    }

.chefs-title::after {
    right: 0;
    }
.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child{
    margin-bottom: 0;
}

.chefs-list {   
    display:flex;
    gap: 40px 30px;
    flex-wrap: wrap;
    
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-photo{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
     -16px 16px 0 2px var(--color-secondary-dark);
}
 .chef-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
    }

 /* formats */
 .formats-container{
    display: flex;
    gap: 32px;
    align-items: center;
 }
 .formats-item{
    flex-basis: calc((100% - 40px) / 3);
 }
 .format-card{
    height: 444px;
    background-image: linear-gradient(180deg,
     rgba(49, 38, 26, 0) 55.21%,
     rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%);
    min-height: 100%;
    border: 1px solid black;
    border-radius: 16px;
    padding: 24px;
    transition: transform 0.3s;
 }

 .format-card:hover {
    transform: scale(1.05); 
 }

 .formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }
.formats-title
{
    margin-bottom: 80px;
}

 .format-title {
    font-size: 24px;
    font-weight: 600;
 }

 .format-text   {
    font-size: 14px;
    font-weight: 300;
 }

 /* Carousel */

 .carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--color-primary-dark);
    background: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
 }

 .carousel-button.next {
    transform: rotate(180deg);
 }

 .carousel-button:hover{
    background: var(--color-primary-dark);
    fill: var(--color-primary-light);
 }


 /* contact section */
.contact-container{
    display: flex;
    gap: 32px;
}

.contact{
    padding-bottom: 96px;
}

 .contact-title{
    margin-bottom: 16px;
    
 }

 .contact-map{
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
 }

 /* footer */
   .footer {
       padding: 32px 0;
       position: relative;
       background-color: var(--color-primary-dark);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       background-image: url('../images/footer-png.png');
   }

  .footer::before,
  .footer::after {
      position: absolute;
      bottom: 0;
      background-repeat: no-repeat;
      content: ''
  }

  .footer::before {
      width: 180px;
      height: 120px;
      left: 0;
      background-image: url('../images/decor-bread-small.png');
  }

  .footer::after {
      width: 380px;
      height: 190px;
      right: 0;
      background-image: url('../images/decor-bread-large.png');
  }
 .footer-container{
    display: flex;
    gap: 20px;
 }

 .footer-nav,
 .footer-address {
    display: flex;
    gap: 20px;
    flex-basis:  50%;
 }

.address-list,
.address-info {
    flex-grow: 1;
}

.footer-logo, 
.footer-menu{
    flex-grow: 1;
}


 .adress-social{
    fill: var(--color-primary-light);
 }

  .adress-social:hover {
      fill: var(--color-brand-dark);
  }

 .adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
 }

  .adress-link:hover {
      color: var(--color-brand-normal);
      font-size: 16px;
      font-weight: 300;
  }

  .address-copyright {
    color: #A18268;
    font-size: 14px;
  }

/* modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity .3s, visibility .3s;
}

.modal {
    /* modal window */
    position: relative;
    height: 100%;
    max-height: 880px;
    width: 100%;
    max-width: 880px;
    border-radius: 32px;
    background-color: var(--color-primary-light);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}





   
