ul {
    list-style-type: none;
}

.button {
    color: #FAF4EA;;
    background-color: #819B57; 
    border: 2px solid #819B57;
    border-radius: 8px ;
    cursor: pointer;
        }
.button:hover {
    background-color: transparent;
    color: #465929;
}

.link{
    color: #FAF4EA;
}

.link:hover {
    color: #819B57;
}
.hero-title {
    color: #FAF4EA;
}
.hero-title .accent {
    color: #819B57;
} 